@import "../../styles/theme.module.scss";

.root {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.hero-image {
  // filter: drop-shadow(0 0 0.75rem white);
  min-width: 900px;
  max-width: 1200px;

  @media (max-width: 600px) {
    width: 200px;
  }

  @media (min-width: 800px) {
    width: 800px;
  }

  @media (min-width: 1400px) {
    width: 1200px;
  }
}

.hero-image-tower {
  @extend .hero-image;
}

.hero-image-background {
  @extend .hero-image;
}

.hero-image-clouds {
  min-width: 650px;
  max-width: 1400px;

  @media (max-width: 600px) {
    width: 200px;
  }

  @media (min-width: 800px) {
    width: 800px;
  }

  @media (min-width: 1200px) {
    width: 1000px;
  }

  @media (min-width: 1400px) {
    width: 1400px;
  }
}
