@import "../../styles/theme.module.scss";

.root {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

@keyframes hover {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.piano-image {
  filter: drop-shadow(0 0 0.75rem white);
  width: 600px;
  animation: hover 3s ease-in-out infinite;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  // backface-visibility: hidden;
  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: drop-shadow(0 0 1.5rem white);
  }
}

.image-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
