@import "./primitives.module.scss";

$background-color: #16171a;
$text-color: white;

$primary-color: white;
$secondary-color: #797b9a;

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

:export {
  primaryColor: $primary-color;
}
